@keyframes nav-mob-animation-left_1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes nav-mob-animation-right_1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translateY(-9px) translateX(7px);
  }
}

@keyframes nav-mob-animation-left_2 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes nav-mob-animation-right_2 {
  0% {
    transform: rotate(-45deg) translateY(-9px) translateX(7px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.line_1_animation_1 {
  animation-name: nav-mob-animation-left_1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.line_2_animation_1 {
  animation-name: nav-mob-animation-right_1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.line_1_animation_2 {
  animation-name: nav-mob-animation-left_2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.line_2_animation_2 {
  animation-name: nav-mob-animation-right_2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --green-btn: #a4cb45;
}

* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.nav {
  background-color: black;
  padding: 1rem;
  width: 100%;
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo {
  height: 40px;
}

.nav-cont {
  justify-content: space-between;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-cont-logo img {
  height: 50px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links li a {
  color: white;
  font-family: var(--main-font);
}

.nav-icons li img {
  width: 1rem;
  margin: auto 1rem;
}

.nav-icons li:last-child img {
  height: 1rem;
  width: auto;
}

.nav-cont-logo-mob {
  width: 0px;
  height: 0px;
}
.nav-mob-head {
  align-items: center;
  display: flex;
}

.product-display,
.products,
.prod-desc {
  display: flex;
  align-items: center;
}

.product-display {
  min-height: 100%;
  justify-content: start;
  margin-bottom: 2rem;
  margin: 2rem 0;
}

.product {
  margin-right: 2rem;
}

.prod-img {
  max-width: 100%;
  height: auto;
}

.prod-desc {
  flex-direction: column;
  font-family: var(--main-font);
}

.prod-desc span {
  margin-bottom: 1rem;
}

.prod-rate {
  max-width: 100px;
}

.product {
  max-width: 250px;
}

.trending {
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 1rem;
}

.trending p {
  color: #707070;
  font-size: 16px;
  max-width: 300px;
  margin: 2rem 0;
}

.trending h1 {
  font-family: var(--main-font);
}

.section div,
.section-desc {
  display: flex;
  align-items: center;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 1rem;
}

.section > div {
  justify-content: space-around;
}

.section:first-child {
  padding: 1rem;
}

.section-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: var(--main-font);
}

.section-img {
  max-width: 100%;
  height: auto;
}

.section-desc h1 {
  font-size: 40px;
  font-weight: bold;
}

.section-desc .logo {
  width: 100px;
  height: auto;
}

.section-desc p {
  max-width: 300px;
  text-align: center;
  margin: 1rem auto;
  font-size: 12px;
}

.whey-img img {
  max-width: 100%;
  height: auto;
}

.whey-img {
  max-width: 250px;
}

.section-desc .logo {
  margin-bottom: 1rem;
}

.more {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  font-family: var(--main-font);
  color: #a7a7a7;
  justify-content: center;
  height: 5rem;
}
.more img {
  height: 48px;
  width: auto;
}

.qualities-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: black;
  position: relative;
}

.qualities-display-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.qualities-display span {
  margin-top: 4rem;
  color: white;
  font-family: var(--main-font);
}

.qualities-display-grid {
  width: 100%;
  padding: 0 7rem;
  margin: 5rem 10rem;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  font-family: var(--main-font);
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  background-color: black;
}

.quality-img img {
  width: 100%;
  height: auto;
}

.quality-img {
  max-height: 100px;
  max-width: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.blue-quality {
  color: #abe7fc;
}

.green-quality {
  color: #a7e9c4;
}

.yellow-quality {
  color: #fef0c2;
}

.qualities-display-grid div h1 {
  margin: 0.5rem auto;
}

.qualities-display-grid div p {
  margin: 1rem auto;
}

.big-strong {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, white 0%);
}

.big-strong-img {
  width: 60%;
  height: auto;
}

.display-services-card {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  margin: 0 5px;
  width: 350px;
}

.services-card-icon {
  max-width: 48px;
  margin-right: 2rem;
}

.services-card-icon img {
  width: 100%;
  height: auto;
}

.services-card-text {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 11px;
}

.oferte {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 10px;
  color: #a4cb45;
  margin-top: 1rem;
}

.services-arrow {
  margin-left: 0.5rem;
  max-width: 5px;
  height: auto;
}

.display-services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.blog {
  background-image: url("../media/images/newsletter_img.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--main-font);
}

.blog-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.blog-header h1 {
  font-size: 52px;
}

.blog-text {
  width: 300px;
  margin: 2rem auto;
}

.email {
  border: 2px solid grey;
  border-radius: 32px;
  display: flex;
  align-items: center;
  width: 400px;
}

.email input {
  border: none;
  height: 30px;
  width: 80%;
  background-color: #fafafa;
  font-family: var(--main-font);
}

.email input:invalid {
  box-shadow: none;
  color: red;
}

.email img {
  max-height: 10px;
  margin: 1rem;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #fafafa;
}

.newsletter-text {
  font-family: var(--main-font);
}

.newsletter-text h1 {
  text-transform: uppercase;
}

.newsletter-text p {
  width: 500px;
  color: #707070;
  margin-top: 2rem;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.gallery-text {
  font-family: var(--main-font);
  text-align: center;
  margin-top: 4rem;
}

.gallery-text h1 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.gallery-photos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 80%;
  padding: 5rem;
  gap: 1rem;
}

.photo {
  max-width: 100%;
  height: auto;
  z-index: -1;
}
.gallery-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-link a {
  width: 30px;
}

.instagram-link img {
  max-width: 100%;
  height: auto;
}

.instagram-link {
  background-color: rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.gallery-photo:hover .instagram-link {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: var(--main-font);
  padding: 3rem 7rem;
}

.footer-top {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmaX(200px, 1fr));
  justify-items: center;
  align-items: center;
}

.link-list {
  display: flex;
  flex-direction: column;
}

.link-list h1 {
  font-size: 18px;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.link-list ul li {
  margin: 0.5rem auto;
  font-size: 14px;
}

.img-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-list img {
  margin: 1rem 0;
}

.img_1 {
  max-height: 75px;
}

.img_2 {
  max-height: 51px;
}

.img_3 {
  max-height: 56px;
}

.set_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.set_2 a img {
  max-width: 20px;
  height: auto;
}

.footer-bottom {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.credit-cards {
  max-width: 100px;
  margin-left: 5rem;
}

.credit-cards img {
  max-width: 100%;
  height: auto;
}

.copyright {
  margin-right: 2rem;
}

/* THIS HAS BEEN REVIEWED*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: none;
  font-family: var(--main-font);
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  background-color: var(--green-btn);
  width: 200px;
  height: 50px;
}

.btn:hover {
  cursor: pointer;
}

.newsletter-btn {
  width: 400px;
  height: 50px;
  margin-top: 1rem;
}

.products-btn {
  width: 160px;
}

.white-arrow {
  max-width: 5px;
  margin-left: 1rem;
}

.set_1 a {
  background: none;
  border: 2px solid white;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.set_2 a {
  background: none;
  width: 45px;
  height: 45px;
  background-color: none;
  border: 2px solid white;
}

.controls {
  flex-direction: column;
  height: auto;
  max-width: 100px;
  margin: auto 2rem;
}

.controls-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid black;
  margin: 1.5rem;
}

.controls-btn img {
  max-width: 7px;
  height: auto;
}

.controls-btn.inactive {
  filter: opacity(30%);
}

.carousel-container {
  background-image: url("../media/images/carousel_img.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.carousel-btn-left,
.carousel-btn-right {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  margin: 2rem;
}

.carousel-btn-left {
  left: 0;
}

.carousel-btn-right {
  right: 0;
}

.carousel-btn-left img,
.carousel-btn-right img {
  max-width: 7px;
  height: auto;
}

.white-circle {
  max-width: 500px;
  max-height: 500px;
  background-color: white;
  border-radius: 50%;
  padding: 4rem;
  display: flex;
  align-self: center;
}

.white-circle img {
  max-width: 100%;
  height: auto;
}

.slide-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: var(--main-font);
  max-width: 500px;
}

.slide-info div {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 32px;
  font-size: 10px;
}

.slide-info h1 {
  font-size: 80px;
}
.slide-info p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0.5rem;
}

.circle.active {
  background-color: white;
}

.slide-position {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}

.carousel {
  margin: 2rem 6rem;
  width: 100%;
}

.slide-btn {
  width: 150px;
}

.section-img-container {
  position: relative;
}

.section-img-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  width: 85%;
  height: 85%;
  margin: 5%;
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.849);
  background-color: rgba(0, 0, 0, 0.849);
  opacity: 0;
}

.white-arrow {
  max-width: 5px;
  margin-left: 1rem;
}

.description-table {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: var(--main-font);
}

.description-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
  line-height: 25px;
  font-size: 14px;
}
.section-img-container:hover .section-img-description {
  opacity: 1;
}

.description-row:last-child {
  border: none;
}

.section-btn {
  width: 150px;
}

.indent {
  margin-left: 1.5rem;
}

.select-language {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: white;
  font-family: var(--main-font);
  font-size: 16px;
  margin: 0;
  width: 60px;
  cursor: pointer;
  z-index: 5;
}

#select-language-container {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: auto;
  position: relative;
  cursor: pointer;
}

#select-language-container img {
  position: absolute;
  transform: rotate(90deg);
  width: 7px;
  height: auto;
  left: 18px;
  z-index: 4;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

@media screen and (min-width: 1170px) {
  .slide-info h1 {
    font-size: 200px;
  }
  .slide-info p {
    font-size: 20px;
  }
  .slide-info div {
    font-size: 14px;
  }
}

@media screen and (max-width: 1060px) {
  .description-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    line-height: 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-mob-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .nav-mob-line {
    border: 2px solid white;
    width: 2rem;
    margin: 0.5rem;
  }

  .nav-icons.flex {
    flex-direction: row;
  }

  .nav-links li {
    margin-bottom: 1rem;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 3rem;
  }

  .nav {
    flex-direction: column;
  }

  .nav-icons {
    margin-top: 1rem;
  }

  .nav-cont-logo {
    display: none;
  }

  .nav-cont-logo-mob {
    height: 50px;
    width: auto;
  }

  .hide {
    display: none;
  }
  .display-services {
    flex-direction: column;
    gap: 20px;
  }

  .newsletter {
    flex-direction: column;
  }

  .newsletter-text {
    text-align: center;
    margin-bottom: 2rem;
  }
  .hide1 {
    display: none;
  }
}

@media screen and (max-width: 870px) {
    .description-row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.178);
      line-height: 20px;
      font-size: 12px;
    }
    .section-btn{
        width: 200px;
        height: 50px;
    }
  }

@media only screen and (max-width: 850px) {
  .hide1,
  .hide2 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .slide {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .slide-info {
    margin-bottom: 2rem;
  }
  .white-circle {
    padding: 2rem;
  }

  .description-row {
    line-height: 18px;
    font-size: 14px;
  }
  .section-btn{
      height: 60px;
      width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .section-img-description {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .hide1,
  .hide2 {
    display: none;
  }

  .product-display {
    flex-direction: column;
    align-items: center;
  }

  .trending {
    align-items: center;
  }

  .trending p {
    text-align: center;
  }

  .products {
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  body {
    overflow-x: hidden;
  }

  .controls {
    margin: 0;
  }
  .product {
    margin: 0;
  }
}

@media only screen and (max-width: 630px) {
  .footer-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    text-align: center;
  }
  .footer-top div {
    margin-bottom: 1rem;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  footer {
    padding: 3rem 2rem;
  }

  .credit-cards {
    max-width: 100px;
    margin: 0;
  }

  .copyright {
    margin: 0;
  }
}
@media only screen and (max-width: 550px) {
  .newsletter-btn {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
  }

  .newsletter-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email {
    border: 2px solid grey;
    border-radius: 32px;
    display: flex;
    align-items: center;
    width: 300px;
  }

  .newsletter-text h1 {
    text-transform: uppercase;
  }

  .newsletter-text p {
    width: 300px;
    color: #707070;
    margin-top: 2rem;
  }

  .newsletter-btn {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .section div {
    flex-direction: column;
  }
  .section > div {
    max-width: 100vw;
  }
  section-img-container {
    max-width: 500px;
  }

  .big-strong-img {
    width: 80%;
    height: auto;
  }
  .qualities-display-grid {
    margin-bottom: 2rem;
  }

  .section-img-description {
    opacity: 0;
  }

  .section-img-container:hover .section-img-description {
    opacity: 0;
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .nav-cont-logo-mob {
    height: 40px;
    width: auto;
  }
}

@media screen and (min-width: 320px) {
  .slide-info h1 {
    font-size: calc(80px + 6 * ((100vw - 320px) / 680));
  }
  .slide-info p {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .slide-info div {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}
